{% extends 'base.html.twig' %}

{% block title %}Asset index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-3xl font-bold underline asset-title">Your assets</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Label</th>
                <th>Currency</th>
                <th>Amount</th>
                <th>USD Value</th>
                <th class="text-align-right">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for asset in assets %}
                <tr>
                    <td>{{ asset.label }}</td>
                    <td>{{ asset.currency }}</td>
                    <td>{{ asset.amount }}</td>
                    <td>${{ asset.valueInUSD | number_format(2)}}</td>
                    <td>
                        <a class="table-btn" href="{{ path('app_asset_show', {'id': asset.id}) }}">show</a>
                        <a class="table-btn" href="{{ path('app_asset_edit', {'id': asset.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="table-bottom-row">
            <a class="table-btn" href="{{ path('app_asset_new') }}">Create new</a>
            <p class="total-value">Total assets value: ${{ totalValueInUSD | number_format(2) }}</p>
        </div>


    </div>
{% endblock %}
